body{
    color:#360;
    background-color:#FBFBFB;
    -webkit-font-smoothing:antialiased;
    font-size:1rem;
    font-family:'Open Sans',sans-serif
}
header{
    margin-top:-1rem
}
#container{
    height:38rem;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
    margin-bottom:3rem
}
#title{
    font-size:6rem;
    font-family:Tangerine,cursive
}
#food_item{
    margin-left:auto;
    margin-right:auto
}
.food_entry{
    text-align:center;
    padding:.1rem;
    font-size:17px
}
#options{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    text-align:center
}
#selection_item{
    text-align:center;
    font-size:15px
}
#input1{
    position:relative;
    left:38%;
    top:25px
}
#center1{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-bottom:4rem
}
header{
    text-align:center;
    position:relative;
    top:0
}
#veggie{
    font-size:19px;
    margin-top:3rem
}
#grain{
    font-size:19px;
    top:2rem;
    margin-top:2.6rem
}
#protein{
    font-size:19px;
    margin-top:2.6rem
}
#dairy{
    font-size:19px;
    top:2rem;
    margin-top:2.6rem
}
#misc{
    font-size:19px;
    top:2rem;
    margin-top:2.6rem;
    margin-bottom:-10rem
}
ul{
    list-style:none;
    font-size:15px
}
#title_decoration{
    text-decoration:underline
}
.weighted{
    font-weight:900
}
.veggie_item{
    margin-right:1.5rem;
    cursor:pointer;
    font-size:16px
}
.protein_item{
    margin-right:1.2rem;
    cursor:pointer;
    font-size:16px
}
.grain_item{
    margin-right:1.2rem;
    cursor:pointer;
    font-size:16px
}
.dairy_item{
    margin-right:1.2rem;
    cursor:pointer;
    font-size:16px
}
.misc_item{
    margin-right:1.2rem;
    cursor:pointer;
    font-size:16px
}
.line_out{
    color:#f601c8;
    text-decoration:line-through
}
#spacer{
    height:11.4rem
}